.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.categories{
    display: flex;
    list-style: none;
    gap: 2.8125rem;
}